<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Ángela Ruiz | Business engineering</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" media="screen" href="/static/main.css" />
  <script src="https://kit.fontawesome.com/836a943e18.js" crossorigin="anonymous"></script>
  <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico" />
</head>

<body>

  <header>
    <div class="container">
      <nav>
        <div class="nav-brand">
          <a href="index.html">
            <img src="/static/images/logo.png" alt="Chaoo" />
          </a>
        </div>
        <div class="burger-menu-icon">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
        <ul class="nav-list">
          <li class="nav-item">
            <a href="#landing-page">
              <img src="/static/images/profile-pic.jpg" alt="Ángela Ruiz" class="profile-pic nav-link" />
              <span class="caption nav-link">Ángela Ruiz</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="#about" class="nav-link">Acerca de</a>
          </li>
          <li class="nav-item">
            <a href="#services" class="nav-link">Idiomas</a>
          </li>
          <li class="nav-item">
            <a href="#projects" class="nav-link">Proyectos</a>
          </li>
          <li class="nav-item">
            <a href="#contact" class="nav-link">Contacto</a>
          </li>
          <li class="nav-item">
            <a href="#" target="_blank" class="nav-link">
              <i class="fab fa-youtube"></i>
            </a>
            <a href="#" target="_blank" class="nav-link">
              <i class="fab fa-dev"></i>
            </a>
            <a href="https://twitter.com/angelarc_32" target="_blank" class="nav-link">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <div class="cta">
            <a href="#" target="_blank" class="btn nav-link">Regresar al incio</a>
          </div>
        </ul>
      </nav>
    </div>
  </header>

  <main>

    <section id="landing-page" class="landing-page">
      <div class="container">
        <div class="main-message">
          <h2>Ángela Ruiz</h2>
          <h3>{Business engineering}</h3>
          <p>Html . Excel VBA . JavaScript . MySql . Python</p>
          <div class="intro-btn">
            <div class="cta">
              <a href="#contact" class="btn">Get In Touch</a>
            </div>
            <div class="cta">
              <a href="#projects" class="btn">My Projects</a>
            </div>
          </div>
          <div>
            <a href="#about" class="scroll-down">
              <i class="fa fa-chevron-down" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </section>


    <section id="about" class="about">
      <div class="container">
        <div class="about-img">
          <img src="/static/images/profile-pic.jpg" alt="Ángela Ruiz" class="about-pic" />
        </div>
        <div class="about-text-box">
          <h2>Hello 👋🏽</h2>
          <p>
            Mi nombre es Ángela Ruiz, actualmente estoy cursando tercer año 
            en Ingeniería de Negocios, en la Escuela Superior de Economía y 
            Negocios (ESEN). Soy miembro de una asociación llamada
            Club de Opninion Politica Estudiantil, donde desempeño un rol en 
            clima organizacional y manejo de datos. De igual forma, soy 
            representante de ciclo, dando mi aporte con la comunidad estudiantil 
            y los profesores, que me ha mejorado en coordinación de proyectos y 
            a organizar mi tiempo caundo se presentan imprevistos. 
          </p>
          <p>
           Sobre mi formación básica, estudié en el Colegio Guadalupano 
           desde preparatoria hasta segundo año de bachillerato. El Colegio
           me formo con muchas características, entrega a los demás, el servicio 
           al projimo, respeto, determinación, responsabilidad, perseverancia,  
           disciplina y versatilidad. Todas estas virtudes me han ayudado a crecer
           y buscar la automejora día a día. 
          </p>
            Algo más personal, me gusta mucho hacer ejercicio. He precticado deporte
            desde muy joven, estuve en la Federeación Salvadoreña de Natacion y participé
            en competencias. El deporte ha sido una de las mejores actividades que he
            realizado en mi vida y agradezco la disciplina que me ha inculcado.
            <p>
            
          </p>
        </div>
      </div>
      <hr />
    </section>

    <section id="services" class="services">
      <div class="container">
        <div class="title-heading">
          <h2>Idiomas</h2>
          <p>
            Inglés  - Avanzado, 
            Aleman  - Básico,
            Español - Lengua natal
          </p>
        </div>
        <div class="service-tiers">
          <div class="tier-item">
            <i class="fa fa-code" aria-hidden="true"></i>
            <h2>Inglés</h2>
            <p>
              Estudié inglés en la Escuela Americana, termine todos los niveles
              realice el TOEFL IBT y el SAT, obteniendo resultados buenos en 
              ambas evaluaciones. 
            </p>
          </div>
          <div class="tier-item">
            <i class="fa fa-mobile" aria-hidden="true"></i>
            <h2>Aleman</h2>
              Este idioma lo inicie en el 2019, logré terminar los niveles básicos 
              A1-A2, planeo seguir aprendiendolo.
            <p>
              
            </p>
          </div>
          <!-- 
                <div class="tier-item">
                  <i class="fa fa-file-code-o" aria-hidden="true"></i>
                  <h2>PSD to HTML</h2>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem
                    quasi earum, debitis exercitationem quod labore quae, saepe
                    voluptatum fugiat placeat iste, numquam maxime? Aliquam
                    explicabo, reiciendis corrupti voluptatum eum esse?
                  </p>
                </div>
                -->
        </div>
      </div>
      <hr />
    </section>

    <section id="projects" class="projects">
      <div class="title-heading">
        <h2>PROYECTOS</h2>
        <p>Mis proyectos más recientes</p>
      </div>
      <div class="project-item">
        <div class="project-img has-margin-right">
          <img src="/static/images/sppms.png" />
        </div>
        <div class="project-description">
          <h2>Airb&b app</h2>
          <p>
            Es un programa simulador de Airb&b, creada con Python junto con mi grupo de Python,
            donde se puede reservar hospedaje, procesar la factura dar las direcciones y muchas de las 
            funciones para el cliente y el dueño del hospedaje.
             
          </p>
          <a href="https://github.com/DAP-web/AirbnbProyect" class="project-link" target="_blank"><i class="fa fa-github" aria-hidden="true"> View Code</i></a>
        </div>
      </div>

      <div class="project-item">
        <div class="project-description has-margin-right">
          <h2>Reservaciones en restaurantes App </h2>
          <p>
            Ees una app, creada con HTML y Java junto con mi grupo de Base de datos, en donde se puede ver la 
            disponibilidad de mesas, horarios de restaurantes, platillos, precios y como objetivo de la 
            app hacer una reservacion en línea. 
          </p>
          <a href="https://github.com/DAP-web/FreyaBD" class="project-link" target="_blank"><i class="fa fa-github" aria-hidden="true"> View Code</i></a>
        </div>
        <div class="project-img">
          <img src="/static/images/to-do.png" />
        </div>
      </div>

    <section id="contact" class="contact">
      <h2>Contactarse conmigo</h2>
      <p>
        Me encantaría ponerme en contacto con todos aquellos que esten interesados en mi CV.
        Siempre estoy pendinete de mis redes socieles y correo. 
      </p>
      <p>
        <i>
          <strong></strong></i>
      </p>
      <div class="container">
        <p>
          <a href="mailto:ac.comayaguasv@gmail.com"><i class="fas fa-envelope-open"></i> ac.comayaguasv@gmail.com</a>
        </p>
        <p>
          <a href="https://twitter.com/angelarc_32" target="_blank"><i class="fab fa-twitter"> Twitter</i></a>
        </p>
      </div>
      <hr />
    </section>

    <footer>
      <div class="footer-nav">
        <a href="#landing-page" class="footer-nav-link">Inicio</a>
        <a href="#about" class="footer-nav-link">Acerca de</a>
        <a href="#services" class="footer-nav-link">Idiomas</a>
        <a href="projects" class="footer-nav-link">Proyectos</a>
        <a href="#contact" class="footer-nav-link">Contacto</a>
      </div>
      <div class="footer-coded-by">
        <p>
          <i class="fas fa-code"></i> with 💙 by Ángela Ruiz &copy; 2021
        </p>
        <p>Built with pure HTML, CSS and JavaScript</p>
      </div>
      <div class="footer-social">
        <a href="https://twitter.com/angelarc_32" target="_blank"><i class="fab fa-twitter"></i></a>
      </div>
    </footer>

  </main>

  <script src="/static/main.js"></script>
</body>

</html>